section.reposiroty-list {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5vh;

    h1 {
        margin-bottom: 5vh;
    }

    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 2rem;
            }
            
            p {
                font-size: 1rem;
                margin: .5rem 0;
                width: 25vw;
            }

            a {
                text-decoration: none;
                color: rgb(87, 164, 232);
            }
        }
    }
}